.App {
	text-align: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main-list {
	list-style: none;
	padding-left: 0;
	border-radius: 8px;
}
.main-list li {
	background-color: burlywood;
	border: 1px solid black;
	margin: 2px 0px;
	cursor: pointer;
}
form {
	display: flex;
	justify-content: center;
}
.product-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.product-list li {
	display: flex;
	align-items: center;
	margin: 2px;
}
.item-input {
	margin-right: 1rem;
}
.bought {
	text-decoration: line-through;
	color: brown;
}
.list-title-container {
	display: flex;
	justify-content: center;
	margin: 2rem 0;
}
.list-title {
	padding-right: 1rem;
}
