.App {
	text-align: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	background-color: black;
	height: 100%;
}

form {
	display: flex;
	justify-content: center;
}

.item-input {
	margin-right: 1rem;
}
.bought {
	text-decoration: line-through;
	color: brown;
}
.list-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}
.list-title {
	padding-right: 1rem;
}
